.tag {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24.4rem;
    max-width: 12.1rem;
    padding: 6px 4px;

    &.blue-tag {

        .icon {
            background: rgba(63, 104, 186, 0.15);
        }

        span {
            color: #3F67BA;
        }
    }

    .icon {
        width: 2.6rem;
        height: 2.6rem;
        flex-shrink: 0;
        border-radius: 24.4rem;
        background: rgba(194, 0, 0, 0.2);
        @include centerTotalFlex;
        margin-right: 0.8rem;

        img {
            z-index: 1;
        }
    }

    span {
        color: #C20001;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 150%;
    }
}

.search {
    width: 100%;
    max-width: 40.3rem;
    height: 5.6rem;
    flex-shrink: 0;
    border-radius: 12.2rem;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 0.7rem;

    input[type=text] {
        border: 0;
        outline: none;
        width: 80%;
        color: #A0AFBA;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%;

        &::placeholder {
            color: #A0AFBA;
        }
    }

    button {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 122px;
        border: 1px solid transparent;
        background: rgba(158, 185, 225, 0.1);
        @include centerTotalFlex;
        z-index: 0;
        transition: border-color .3s;

        &:hover {
            border-color: #3E75C3;
        }

        img {
            width: 1.6rem;
            height: 1.61rem;
            flex-shrink: 0;
            z-index: 1;
        }
    }
}

.type-filter {
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all .3s;

    &:hover {
        opacity: 1;
        filter: grayscale(0);
    }

    &.active {
        opacity: 1;
        filter: grayscale(0);
    }

    .icon {
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
        margin-right: 0.5rem;
    }

    span {
        color: #ACB9C1;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 150%;
    }

    &.all {
        span {

            color: var(--type-all);
        }
    }

    &.ghost {
        span {

            color: var(--type-ghost);
        }
    }

    &.bug {
        span {
            color: var(--type-bug);
        }

    }

    &.dark {
        span {
            color: var(--type-dark);
        }
    }

    &.drogon {
        span {
            color: var(--type-dragon);
        }
    }

    &.electric {
        span {
            color: var(--type-eletric);
        }
    }

    &.fairy {
        span {
            color: var(--type-fairy);
        }
    }

    &.fighting {
        span {
            color: var(--type-fighting);
        }
    }

    &.ground {
        span {
            color: var(--type-ground);
        }
    }

    &.ice {
        span {
            color: var(--type-ice);
        }
    }

    &.normal {
        span {
            color: var(--type-normal);
        }
    }

    &.poison {
        span {
            color: var(--type-poison);
        }
    }

    &.psychic {
        span {
            color: var(--type-psychic);
        }
    }

    &.rock {
        span {
            color: var(--type-rock);
        }
    }

    &.grass {
        span {
            color: var(--type-grass);
        }
    }

    &.steal {
        span {
            color: var(--type-steal);
        }
    }

    &.water {
        span {
            color: var(--type-water);
        }
    }

    &.fire {
        span {
            color: var(--type-fire);
        }
    }

    &.flyin {
        span {
            color: var(--type-flying);
        }
    }

}

.card-pokemon {
    position: relative;
    width: 100%;
    max-width: 28rem;
    background-color: #FFF;
    border-radius: 1.2rem;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.30);
    height: 30.4rem;
    z-index: 1;
    transition: all .3s;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.30);
    }

    &.grass {
        .image {
            &::after {
                background-color: rgba(114, 184, 97, 0.4);
            }
        }
    }

    &.ghost {
        .image {
            &::after {
                background-color: rgba(97, 110, 183, 0.4);
            }
        }
    }

    &.bug {
        .image {
            &::after {
                background-color: rgba(156, 186, 72, 0.4);
            }
        }

    }

    &.dark {
        .image {
            &::after {
                background-color: rgba(89, 87, 97, 0.4);
            }
        }
    }

    &.drogon {
        .image {
            &::after {
                background-color: rgba(44, 106, 193, 0.4);
            }
        }
    }

    &.electric {
        .image {
            &::after {
                background-color: rgba(212, 188, 52, 0.4);
            }
        }
    }

    &.fairy {
        .image {
            &::after {
                background-color: rgba(226, 150, 225, 0.4);
            }
        }
    }

    &.fighting {
        .image {
            &::after {
                background-color: rgba(196, 77, 97, 0.4);
            }
        }
    }

    &.ground {
        .image {
            &::after {
                background-color: rgba(206, 127, 85, 0.4);
            }
        }
    }

    &.ice {
        .image {
            &::after {
                background-color: rgba(113, 186, 171, 0.4);
            }
        }
    }

    &.normal {
        .image {
            &::after {
                background-color: rgba(144, 144, 144, 0.4);
            }
        }
    }

    &.poison {
        .image {
            &::after {
                background-color: rgba(172, 106, 202, 0.4);
            }
        }
    }

    &.psychic {
        .image {
            &::after {
                background-color: rgba(235, 140, 133, 0.4);
            }
        }
    }

    &.rock {
        .image {
            &::after {
                background-color: rgba(132, 190, 179, 0.4);
            }
        }
    }

    &.steal {
        .image {
            &::after {
                background-color: rgba(101, 148, 161, 0.4);
            }
        }
    }

    &.water {
        .image {
            &::after {
                background-color: rgba(79, 120, 190, 0.4);
            }
        }
    }

    &.fire {
        .image {
            &::after {
                background-color: rgba(233, 99, 3, 0.4);
            }
        }
    }

    &.flyin {
        .image {
            &::after {
                background-color: rgba(117, 140, 189, 0.4);
            }
        }
    }

    .image {
        position: relative;
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        margin: 0 auto;
        margin-bottom: 1.4rem;
        .thumb-img {
            max-width: 15.2rem;
        }

        &::after {
            content: "";
            width: 16.5rem;
            height: 16.5rem;
            flex-shrink: 0;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }
    }

    .info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0px 28px;

        .text {

            span {
                color: #7A7D80;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }

        }

        .icon {
            margin-bottom: 0.9rem;
        }
    }

    @media(max-width: 1200px) {
        max-width: 100%;
    }
}

.tag-type {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 0 2.5rem;
    font-size: 1.3rem;
    letter-spacing: -0.01px;
    background-color: rgba(156, 186, 72, 0.10);
    border-radius: 2px;

    &.ghost {
        color: var(--type-ghost);
        background-color: rgba(97, 110, 183, 0.1);
    }

    &.bug {
        color: var(--type-bug);
        background-color: rgba(156, 186, 72, 0.1);

    }

    &.dark {
        color: var(--type-dark);
        background-color: rgba(89, 87, 97, 0.1);
    }

    &.drogon {
        color: var(--type-dragon);
        background-color: rgba(44, 106, 193, 0.1);
    }

    &.electric {
        color: var(--type-eletric);
        background-color: rgba(212, 188, 52, 0.1);
    }

    &.fairy {
        color: var(--type-fairy);
        background-color: rgba(226, 150, 225, 0.1);
    }

    &.fighting {
        color: var(--type-fighting);
        background-color: rgba(196, 77, 97, 0.1);
    }

    &.ground {
        color: var(--type-ground);
        background-color: rgba(206, 127, 85, 0.1);
    }

    &.ice {
        color: var(--type-ice);
        background-color: rgba(113, 186, 171, 0.1);

    }

    &.normal {
        color: var(--type-normal);
        background-color: rgba(144, 144, 144, 0.1);

    }

    &.poison {
        color: var(--type-poison);
        background-color: rgba(172, 106, 202, 0.1);

    }

    &.psychic {
        color: var(--type-psychic);
        background-color: rgba(235, 140, 133, 0.1);

    }

    &.rock {
        color: var(--type-rock);
        background-color: rgba(132, 190, 179, 0.1);

    }

    &.grass {
        color: var(--type-grass);
        background-color: rgba(114, 184, 97, 0.1);

    }

    &.steal {
        color: var(--type-steal);
        background-color: rgba(101, 148, 161, 0.1);
    }

    &.water {
        color: var(--type-water);
        background-color: rgba(79, 120, 190, 0.1);
    }

    &.fire {
        color: var(--type-fire);
        background-color: rgba(233, 99, 3, 0.1);
    }

    &.flying {
        color: var(--type-flying);
        background-color: rgba(117, 140, 189, 0.1);
    }
}

.btn-load-more {
    display: inline-flex;
    padding: 1.4rem 2rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.6rem;
    background-color: rgba(63, 93, 179, 0.10);
    color: var(--blue-primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.14px;
    transition: all .3s;

    &:hover {
        background-color: var(--blue-primary);
        color: #FFF;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include centerTotalFlex;
    z-index: 2024;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    

    &[type-pokemon-modal="grass"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/grass.svg");
            }
        }
    }

    &[type-pokemon-modal="bug"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/bug.svg");
            }
        }
    }

    &[type-pokemon-modal="dark"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/dark.svg");
            }
        }
    }

    &[type-pokemon-modal="dragon"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/dragon.svg");
            }
        }
    }

    &[type-pokemon-modal="electric"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/electric.svg");
            }
        }
    }

    &[type-pokemon-modal="fairy"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/fairy.svg");
            }
        }
    }

    &[type-pokemon-modal="fighting"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/fighting.svg");
            }
        }
    }

    &[type-pokemon-modal="ground"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/ground.svg");
            }
        }
    }

    &[type-pokemon-modal="ice"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/ice.svg");
            }
        }
    }

    &[type-pokemon-modal="normal"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/normal.svg");
            }
        }
    }

    &[type-pokemon-modal="poison"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/poison.svg");
            }
        }
    }

    &[type-pokemon-modal="psychic"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/psychic.svg");
            }
        }
    }

    &[type-pokemon-modal="rock"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/rock.svg");
            }
        }
    }

    &[type-pokemon-modal="ghost"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/ghost.svg");
            }
        }
    }

    &[type-pokemon-modal="steal"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/steal.svg");
            }
        }
    }

    &[type-pokemon-modal="water"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/water.svg");
            }
        }
    }

    &[type-pokemon-modal="fire"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/fire.svg");
            }
        }
    }

    &[type-pokemon-modal="flying"] {
        .box {
            .left-container {
                background-image: url("../img/bg-types/flying.svg");
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .box {
        position: relative;
        width: 100%;
        max-width: 71rem;
        height: 50.8rem;
        background-color: #FFFFFF;
        z-index: 1;
        border-radius: 1.6rem;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(13, 12, 71, 0.05);
        display: flex;
        transform: translateY(4rem);
        transition: transform .3s ease-in;

        .close {
            position: absolute;
            top: -4.4rem;
            right: 0;
            width: 3.6rem;
            height: 3.6rem;
            flex-shrink: 0;
            border-radius: 0.8rem;
            background: #FFF;
            @include centerTotalFlex;
        }

        .left-container {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 19.1rem;
            background-repeat: no-repeat;
            background-position: center center;

            .icon {
                position: absolute;
                width: 100%;
                max-width: 3.4rem;
                height: 3.4rem;
                top: 2rem;
                right: 2rem;
                flex-shrink: 0;
                border-radius: 50%;
                background-color: #FFF;
                @include centerTotalFlex;
            }

            .image {
                position: absolute;
                top: 16.9rem;
                left: 1.4rem;
                width: 100%;
                max-width: 202.517px;
                height: 201px;

                img {
                    width: 100%;
                }
            }
        }

        .right-container {
            padding: 3.5rem 7.2rem 2.9rem 7.4rem;

            .name {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;

                h3 {
                    color: #2F3133;
                    text-align: center;
                    font-size: 2.8rem;
                    font-weight: 700;
                    letter-spacing: -0.28px;
                    margin-right: 0.8rem;
                    line-height: 3.4rem;
                }

                span {
                    position: relative;
                    color: #7A7D80;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 400;
                    letter-spacing: -0.16px;
                    line-height: 2rem;
                    bottom: 0.3rem;
                }
            }

            .type {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 3.2rem;

                li {
                    &:not(:first-child) {
                        margin-left: 1rem;
                    }
                }
            }

            .info {
                display: flex;
                align-items: center;
                padding-bottom: 3.2rem;

                li {
                    &:not(:first-child) {
                        margin-left: 4.8rem;
                    }

                    span {
                        display: block;
                        color: #7A7D80;
                        text-align: center;
                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.13px;
                        margin-bottom: 0.4rem;
                    }

                    strong {
                        color: #2F3133;
                        text-align: center;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.14px;
                    }
                }
            }

            .weak {
                margin-bottom: 3.2rem;

                h4 {
                    color: #4D5053;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.13px;
                    margin-bottom: 1.6rem;
                }

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;

                    li {
                        &:not(:first-child) {
                            margin-left: 1rem;
                        }
                    }
                }
            }

            .stats {
                h5 {
                    color: #4D5053;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.13px;
                    margin-bottom: 1.6rem;
                }

                .all-stats {
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 1.3rem;
                        }

                        span {
                            width: 100%;
                            max-width: 6.8rem;
                            color: #7A7D80;
                            font-size: 1.2rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .bar-status {
                            position: relative;
                            width: 100%;
                            max-width: 28.3rem;
                            height: 0.3rem;
                            background-color: #EFF3F6;

                            .bar {
                                width: 56%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: #C20001;

                            }

                            .separator {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;

                                li {
                                    width: 0.4rem;
                                    height: 0.3rem;
                                    background-color: #FFFFFF;

                                    &:not(:first-child) {
                                        margin-left: 5.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        align-items: flex-end;
        

        .box {
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-height: 70rem;
            border-radius: 2rem 2rem 0rem 0rem;

            .close {
                top: 0.6rem;
                right: 0.6rem;
                z-index: 1;
            }

            .left-container {
                max-width: 100%;
                height: 12.5rem;
                background-size: cover;
                border-radius: 2rem 2rem 0rem 0rem;

                .icon {
                    top: 3rem;
                    right: 6rem;
                }

                .image {
                    max-width: 12rem;
                    height: 12rem;
                    top: 2.5rem;
                    left: 50%;
                    margin-left: -6rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right-container {
                padding: 0rem 2.4rem 1.5rem 2.4rem;

                .name {
                    position: relative;
                    top: 3.8rem;
                    justify-content: center;
                }

                .type {
                    position: relative;
                    top: 3.8rem;
                    justify-content: center;
                }

                .info {
                    position: relative;
                    top: 3.2rem;
                    justify-content: center;
                }
                .weak {
                    position: relative;
                    top: 3.2rem;

                    h4 {
                        text-align: center;
                    }

                    ul {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 1rem;
                        li {
                            margin-bottom: 1rem;
                            &:not(:first-child) {
                                margin-left: 0;
                            }

                            .tag-type {
                                width: 100%;
                                align-items: center;
                                text-align: center;
                            }
                        }
                    }
                }

                .stats {
                    .all-stats {
                        .item {
                            .bar-status {
                                max-width: 75%;

                                .separator {
                                    li {
                                        &:not(:first-child) {
                                            margin-left: 19%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 560px) {
        .box {
            height: 100%;

            .close {
                width: 2.5rem;
                height: 2.5rem;
            }

            .left-container {
                max-width: 100%;
                height: 12.5rem;
                background-size: cover;
                border-radius: 2rem 2rem 0rem 0rem;

                .icon {
                    max-width: 2rem;
                    height: 2rem;
                    top: 1rem;
                    right: 6rem;
                    img {
                        width: 1.5rem;
                    height: 1.5rem;
                    }
                }

                .image {
                    max-width: 7rem;
                    height: 8rem;
                    top: 0.5rem;
                    left: 50%;
                    margin-left: -6rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right-container {
                .name {
                    position: relative;
                    top: 5rem;
                }

                .type {
                    position: relative;
                    top: 4.8rem;
                    justify-content: center;
                }

                .stats {
                    .all-stats {
                        .item {
                            .bar-status {
                                max-width: 75%;
                            }
                        }
                    }
                }
            }
        }

    }


}

.open-modal {
    overflow: hidden;
    .modal {
        opacity: 1;
        pointer-events: all;

        .box {
            transform: translateY(0);
        }
    }

}